@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600;700&display=swap');

*{
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /*10px - 1.0 rem*/
    --primary-color: #8133ffff;
    --secondary-color: #1c0313ff;
    --dark:#1C0313;
    --light-pink: #fddfefff;
    --dark-purple: #4D2096;
    --green: #79DB0F;
    --yellow: #F0DA12;
    --pink: #FF1888;
    --blue: #36d5e3;

}

body {
    background-color: var(--primary-color);
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

h1 {
    font-size: 2rem;
    color: var(--light-pink);
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 9px;
    text-align: center;
    margin-bottom: 20px;
}

h1 span {
    padding: 0;
    background-color: var(--dark);
}

/*Header*/

header {
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 300px;
}

.search {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.search:focus {
    outline: 0;
    background-color: var(--secondary-color);
}

/*Select Section*/

.select-section {
    max-width: 1200px;
    margin: auto;
}

.text-row {
    max-width: 600px;
    margin: auto;
}

.btn-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    align-content: center;
    justify-content: center;
}

.mood-btn img {
    width: 120px;
    margin-top: -20px;
}

.mood-btn {
    border: none;
    padding: 0;
    margin: 0 5px 20px 5px;
}

.mood-btn:hover {
    background-color: var(--dark-purple);
}

.mood-btn--blue {
    background-color: var(--blue);
}
.mood-btn--yellow {
    background-color: var(--yellow);
}
.mood-btn--green{
    background-color: var(--green);
}
.mood-btn--pink{
    background-color: var(--pink);
}



/*Main*/
main {
    display: flex;
    margin: auto;
    flex-wrap:wrap;
    justify-content: center;
    max-width: 1400px;
}

.movie {
    width: 300px;
    margin: 1rem;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color:var(--dark-purple);
    position: relative;
    overflow: hidden;
}

.movie img {
    width: 100%;
}

.movie-info {
    font-size: 1.6rem;
    color: var(--light-pink);
    text-transform: uppercase;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 0;
    font-weight: 400 !important;
    text-transform: uppercase;
    background-color: var(--secondary-color);
    color: var(--light-pink);
}

.movie-info span {
    font-size: 1.6rem;
    background-color: var(--secondary-color);
    padding: 0.25rem 0.5rem;
    font-weight: 400 !important;
}

.movie-info span.green {
    color: var(--green);
}

.movie-info span.yellow {
    color: var(--yellow);
}

.movie-info span.red {
    color: var(--pink);
}

.overview {
    font-size: 1.6rem;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: var(--light-pink);
    padding: 1.6rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3{
    font-weight: 400 !important;
    text-transform: uppercase;
    background-color: var(--secondary-color);
    color: var(--light-pink);
}

.movie:hover .overview {
    transform: translateY(0);
}

/*Footer*/

footer {
    margin: auto;
    font-size: 1.6rem;
    padding: 60px;
    text-align: center;
    border: none;
}

footer a {
    color: var(--light-pink);
    background-color: var(--dark);
    text-decoration: none;
}

@media (min-width:768px){
    h1 {
        font-size: 2.6rem;
    }

    .mood-btn img {
        width: 180px;
    }
}